h2 {
    text-align: center;
  
}
tr,th, td {
    border: 1px solid black;

}
.dropdown hover {
    background-color: #ff0000
}
.task-list {
    padding: 15px;

}
.strike {
    text-decoration: line-through;
    background-color: grey;
    color:#fff;
}
